BOT_TOKEN=MTUxMjgzMzAxOTA5MjY2ODQ3Ng.GVKOmV.2g10OsAAAcdiJvPSDqI9V7liwDcxz42VLYqGXg
HIS_WEBHOOK=https://discord.com/api/webhooks/1512832177409233039/fLkitnpTJCsbFIBFYGYw9ZcgoQ7z3l3q5PLvNX9qNshtKgfTN4mT9Hgxq-58KpwfbVfs
YOUR_CHANNEL_ID=1512821567208427755
